  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">
        <!-- Uncomment below if you prefer to use an text logo -->
        <!-- <h1><a routerLink="index.html">NewBiz</a></h1> -->
        <a routerLink="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" routerLink="/login">login</a></li>
          <li><a class="nav-link scrollto" routerLink="/signUp">Sign Up
            </a></li>
          <li><a class="nav-link scrollto active" routerLink="/home">Home</a></li>
          <li><a class="nav-link scrollto" routerLink="/about">About</a></li>
          <li><a class="nav-link scrollto" routerLink="/services">Services</a></li>
          <li><a class="nav-link scrollto " routerLink="/portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" routerLink="/team">Team</a></li>
          <li class="dropdown"><a routerLink="/listStudent"><span>Student</span>
              <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a routerLink="/listStudent">List Student</a></li>
              <li><a routerLink="/createStudent">Create Student</a></li>
            </ul>
          </li>
          <li class="dropdown"><a routerLink="/listStudent"><span>Teacher</span>
              <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a routerLink="/listTeacher">List Teacher</a></li>
              <li><a routerLink="/createTeacher">Create Teacher</a></li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- #header -->
