<div class="container mt-5 pt-5">
  <div class="card">

    <div class="card-body">
      <div class="form-group">
        <label> Student Name </label>
        <input type="text" [(ngModel)]="student.name" class="form-control">
      </div>
      <div class="form-group">
        <label> Student phne </label>
        <input type="text" [(ngModel)]="student.phone" class="form-control">
      </div>
      <div class="form-group">
        <label> Student Age </label>
        <input type="number" [(ngModel)]="student.age" class="form-control">
      </div>
      <div class="form-group">
        <label> Student Image Url </label>
        <input type="url" [(ngModel)]="student.imgUrl" class="form-control">
      </div>
      <button (click)="onSubmit()" class="btn btn-info my-5"> Submit Data </button>
    </div>
  </div>
</div>
